
#c1{
    width: 280px;
    height: 300px;
    position: relative;
    top: 50px;
}
#c2{
    width: 280 ;
    height: 300px;
    position:relative;
    left:350px;
    bottom: 260px;
}
#c3{
    width: 280px;
    height: 300px;
    position: relative;
    left:370px;
    bottom: 250px;
}
#c4{
    width:280px;
    height: 300px;
    position: relative;
    left:525px;
    bottom:397px;
}
p.pc4{
    position: relative;
    bottom: 800px;
    left: 1155px;
    color: black;
}
p.pc3{
    position: relative;
    bottom:832px;
    left:850px;
    color: black;
}
P.pc2{
    position: relative;
    bottom:865px;
    left:470px;
    color: black;
}
p.pc1{
    position: relative;
    bottom:890px;
    left: 100px;
    color: black;
}